:local .Tile {
    display: inline-block;
        margin:.25em;
        padding:.5em 1em;
        line-height: 1em;
        color: #fff;
        background-color: #000;
        border-radius: 20px;

        .partOfSpeech {
        }

        .staticText {
            background-color: #fff;
        }

        .removeButton {
            border: none;
            padding:0 .25em;
            background-color:white;
            margin-left: .25em;
        }
}
