:local .Tile {
    display: inline-block;
        margin:.25em;
        padding:.2em .5em .3em;
        line-height: 1em;
        color: #fff;
        background-color: #e01ac4;

        .isStaticText {
            background-color: #fff;
        }
}
